<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 300px;
  height: 500px;  
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px auto;
  background-color: rgb(192, 255, 232);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: solid;
  border-bottom-color: rgb(4, 67, 25) ;
}

.header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.message-container {
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-left: 10px;
  max-width: 80%;
}

.message.sender {
  text-align: right;
  margin-right: 10px;
  background-color: #e0ffff;
  margin-top: 10px;
}

.time {
  font-size: 12px;
  color: #888;
  margin-left: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions i {
  font-size: 18px;
  color: #888;
  margin: 0 5px;
}
</style>